<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>关于</title>
    </head>
    <body>
        <a href="/">首页</a>
        <a href="/about/">关于</a>
        <a href="/blog/">博客</a>

        <h1>关于</h1>
        <h2>关于我</h2>

        <p>
            你好，我是 HankW。<br />
            这是我的第一个博客项目，我给它起名为 Hanks。这个单词在英文中的意思是纵帆前缘帆环，它的主要作用是将帆固定在前桅或前索上，以便更好地控制帆的形状和位置，以适应不同的风向和航行条件。<br/>
            我也希望这个博客项目能够帮助我更好地控制我的学习和记录我的成长。这个项目可以让我看见自己来时的路，让我看清自己接下来需要什么。<br/>
            其实，Hanks 也与我的中文名相似，一切都是巧合。
        </p>

        <p>
            随着我完成更多教程，该站点将更新，所以请继续查看我的旅程将如何进行吧！
        </p>
    </body>
</html>
