---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<!-- 创建一个包含导航组件的 Header  -->
<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>

